<div class="container py-5">
	<h3>my friends</h3>
	<% @friends.each do |friend|%>
        <%= link_to profile_path(friend) do%>
 		     <div style="background-image: url(<%=rails_blob_url(friend.image) %>);" class="user-img mr-2"></div>
            <span class="top"> <%= friend.fname%> <%= friend.lname%></span>
       <%end%>
       <hr class="my-1">
	<%end%>
	<h3 class="mt-3">list mutulaul friends</h3>
	<% @user.not_friends.each do |user|%>
        <%= link_to profile_path(user)do %>
           <%= user.fname%> <%= user.lname%> 
        <%end%>
        <%= form_tag ({controller: 'friends', action: 'create', method: :post, id: user.id}) do %>
            <input class="btn btn-primary" type=submit value='Send Friend Request'>
        <% end %>
	<%end%>
    <hr>
    <h3>Friend Requests:</h3>
	<% if @user.friend_requests? %>                    
        <% @requests.each do |friend| %>
        <%= link_to profile_path(friend) do%>
        	<%= friend.fname%> <%= friend.lname%>
            <%end%>
            <%= form_tag ({controller: 'friends', action: 'add', method: 'post', id: friend.id}) do %>
                <input class="btn btn-primary" type=submit value='Accept'>
            <% end %>
            <%= form_tag ({controller: 'friends', action: 'reject', method: 'post', id: friend.id}) do %>
                <input class="btn btn-danger" type=submit value='Reject'>
            <% end %>
    	<% end %>
        <%else%>
        there is no request
    <% end %>